<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

  <body>
    <h2>Vet Information</h2>
    <table class="table table-striped" th:object="${vet}">
      <tr>
        <th>Name</th>
        <th>Special</th>
      </tr>
      <tr>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
        <td>
          <span th:each="specialty : ${vet.specialties}"
          th:text="${specialty.name + ' '}" /> 
          <span th:if="${vet.nrOfSpecialties == 0}">none</span>
        </td>
      </tr>
    </table>
    <br />
    <h2>Vet Appointments</h2>
    <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Visit Time</th>
    </tr>
    <tr th:each="visit : ${vet.visits}">
      <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}" /></td>
      <td th:text=" ${visit.description}" /></td>
      <td th:text="${visit.visitTime.timeWindow}"></td>
    </tr>
  </table>
  </body>
</html>
